{% extends "base.html" %}

{% block content %}
<p>Привет! Меня зовут Лобанова Серафима, и я создатель этого проекта по созданию интернет-магазина. Я занимаюсь web-разработкой и стремлюсь к тому, чтобы создавать качественные, удобные и функциональные веб-приложения.</p>
<p>Я изучаю web-разработку один год и мой проект по созданию интернет-магазина является итоговой частью моего обучения. В этом проекте я стараюсь применить все знания и навыки, которые я приобрела, и создать максимально полезный и удобный магазин.</p>
<p>Спасибо, что посетили мой проект по созданию интернет-магазина! </p>
{% endblock %} 